<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作介紹</title>
	<style type="text/css">
	* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
	h1 {color:seagreen; font-size:50px;}
	h3 {color:#153144; font-size:20px;}
	h4 {color:#153144; font-size:20px;}
	h5 {color:#153144; font-size:20px;}
	</style>

</head>
<body>
	<table width="50%">
		<tr>	
			<img src="/static/1feng.jpg">
				<h1><a href="https://www.nienmade.com.tw/">億豐綜合工業股份有限公司</a></h1>
		</tr>
	</table>

	<table width="100%" border="5">
		<tr>
			<td>
				<h3>公司資訊</h3><br>
				公司名：億豐綜合工業股份有限公司<br><br>
				地址：台中市西屯區市政北七路98號23樓之1<br><br>
				經營理念：<br>
				◎億豐長期的努力目標<br>
				專注於顧客需求，提供高品質、完整多樣化的優良窗簾商品。<br>
				◎億豐的三大公司文化 : 誠實、禮貌、創新<br>
				我們相信，誠實的文化是企業有效運作與持續改善的基礎 ; 禮貌的文化帶來和諧的工作環境並促進團隊合作，創新的文化，激勵公司團隊不斷創造與改良產品服務，滿足顧客需要。
				◎人才培育<br>
				億豐認為 ＂人才＂ 是企業最重要的策略資產。公司具備完整的升遷體系，培養人才則是教育訓練與實務操作並重， 對於勇於接受挑戰與磨練的人而言，億豐公司是個深具發展性的舞台，歐美行銷、品質管理、研發設計、精實生產製造。<br>
			</td>

			<td>
				<h4>職務介紹</h4><br>
				SAP工程師 (ABAP/Basis/PI)<br>
				SAP ERP管理師（SD/MM/PP/FI/CO)<br>
				軟體工程師<br>
				資深軟體工程師<br>
			</td>

			<td>
				<h5>工作需求</h5><br>
				接受身份：上班族、應屆畢業生<br>
				工作經歷：3年以上<br>
				學歷要求：大學、碩士<br>
				科系要求：不拘<br>
				語言能力：英文略通<br>
				附加條件：具前/後端/全端程式開發經驗，具資料庫操作、開發經驗，熟悉Stored Procedure/Transaction 語法撰寫，具C#程式開發經驗者佳<br>
			</td>
		</tr>
	</table>
</body>
</html>