<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳喬莘首頁</title>
	<style type="text/css">
	* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
	h1 {color:seagreen; font-size:80px;}
	h2 {color:#125555; font-size:60px;}
	h3 {color:#153144; font-size:20px;}
	h4 {color:#153144; font-size:20px;}
	h5 {color:#153144; font-size:20px;}
	</style>
	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/greenheado.png";
  			document.getElementById("h2text").innerText = "Carsy";
		}

		function change2() {
  			document.getElementById("pic").src = "/static/greenhead.png";
  			document.getElementById("h2text").innerText = "Qiao Xin";
		}
	</script>

</head>
<body>
	<table width="50%">
		<tr>
			<td>
				<img src="/static/greenhead.png"id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>
			<td>
				<h1>陳喬莘</h1>
				<h2 id="h2text">Carsy</h2>
			</td>
		</tr>
	</table>

	<hr size="5" align="center" noshade width="90%" color="000000">
	
	<table width="90%" border="5">
		
			<td>
				<h3>關於我</h3><br>
			</td>		
			<td>
				<h4>人生句子</h4><br>
			</td>
			<td>
				<h5>推薦歌曲</h5><br>
			</td>
			<tr>
			<td>
				系級：<a>資訊管理學系二年B班</a><br>
				學號: <a>411146504</a><br>
				E-Mail: <a href="mailto:s1114650@o365st.pu.edu.tw">s1114650@o365st.pu.edu.tw</a><br>
			</td>
			<td>
				「賭一把ALL IN，不出人頭地我也不會去種地」<br>
			</td>			
			<td>
				<iframe src="https://www.youtube.com/embed/NXpIQSdX_wQ" allowfullscreen></iframe>
			</td>
	</table>
</body>
</html>