<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>求職自傳履歷</title>
	<style type="text/css">
	* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
	h1 {color:seagreen; font-size:50px;}
	h3 {color:#153144; font-size:30px;}
	h4 {color:#153144; font-size:30px;}
	</style>

</head>
<body bgcolor="#f4e3c7">
	<table width="90%">
		<tr>	
			<h1 align=center>陳喬莘的求職自傳履歷</h1>
		</tr>
	</table>

	<table width="50%" border="5">
			<td>
				<h3>我的履歷</h3><br>
			</td>
			<td>
				<h4>求職自傳</h4><br>
			</td>
			<tr>
			<td>
				<img  width=80% height=80% src="/static/cv.png"id="pic"></img>
			</td>
			<td>
				<img  width=80% height=80% src="/static/cv1.png"id="pic"></img>
			</td>
	</table>
</body>
</html>