<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>求職自傳履歷</title>
	<style type="text/css">
	* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
	h1 {color:seagreen; font-size:50px;}
	h3 {color:#153144; font-size:20px;}
	h4 {color:#153144; font-size:20px;}
	</style>

</head>
<body>
	<table width="50%">
		<tr>	
			<h1>陳喬莘的求職自傳履歷</h1>
		</tr>
	</table>

	<table width="100%" border="5">
		<tr>
			<td>
				<h3>我的履歷</h3><br>
				<img src="/static/greenhead.png"id="pic"></img>
			</td>

			<td>
				<h4>求職自傳</h4><br>
				<img src="/static/greenheado.png"id="pic"></img>
			</td>

		</tr>
	</table>
</body>
</html>